<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-3">
  <div class="container-fluid">
    <a href="#" class="navbar-brand mr-3">Hotel Explorer</a>
  </div>
</nav>

<div class="container-fluid">
  <div class="jumbotron">
    <h1>Welcome to Hotel Explorer</h1>
    <p class="lead">
      What we have to offer: Search hotels by location, date and guest count!
      Hotel listing with relevant information for travelers to choose their ideal hotel!
    </p>
  </div>
  
<router-outlet></router-outlet>